<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo Fun</title>
    <!-- Adds the stylesheet insdie of public folder -->
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <img src="/images/hudson_valley.jpg" alt="NY Hudson Valley">
    <img src="/images/new_york.jpg" alt="NY Skyline">
    <img src="/images/san_diego.jpg" alt="San Diego Coast">
</body>
<!-- Adds the method.js from public/javascript folder -->
<script src="/javascripts/method.js"></script>
</html>